@font-face {
  font-family : "Orkney-m";
  src         : url("/fonts/otf/Orkney-m.otf");
}

@font-face {
  font-family : "Orkney-l";
  src         : url("/fonts/otf/Orkney-l.otf");
}

@media
  only screen
  and (max-width : 5000px) {

  body {
    margin           : 4em 0em;
    color            : #FAFAFA;
    background-color : #212121;
    text-align       : left;
    font-family      : Orkney-l;
    font-size        : 1em;
  }

  div.content {
    margin-bottom : 4em;
    padding-right : 15%;
    padding-left  : 15%;
  }

  div.contact {
    margin-top    : 4em;
    padding-right : 1%;
    padding-left  : 1%;
    text-align    : center;
  }

  div.panel a:link {
    color           : #F8BBD0;
    text-decoration : none;
    font-family     : Orkney-m;
  }

  div.panel a:visited {
    color : #E1BEE7;
  }

  ul {
    list-style-type : none;
  }

  div.title {
    font-family : Orkney-m;
  }

  div.panel {
    margin           : 0.625em 0em;
    padding          : 0.5em 1em;
    border-radius    : 4px;
    background-color : #424242;
    transition       : 0.2s;
  }

  div.panel h2 {
    font-size : 1.6em;
  }

  div.panel:hover {
    background-color: #263238;
    background-color : #C51162;
    border-radius: 16px;
    transition       : 0.2s;
  }

  div.panel:hover h2 {
    color      : #212121;
    /* font-size  : 1.65em; */
    transition : 0.2s;
  }

  div.panel:hover a:link {
    color       : #FCE4EC;
    font-weight : bolder;
  }

  div.panel:hover a:visited {
    color : #F3E5F5;
  }

  div.contact {
    font-size : 1em;
  }

  div.contact li {
    display          : inline-block;
    margin           : 0.5em;
    padding          : 1em;
    color            : #FAFAFA;
    border-radius    : 6em;
    background-color : #C51162;
    outline          : none;
    text-decoration  : none;
    font-family      : Orkney-m;
    transition       : 0.1s;
  }

  div.contact li:hover {
    background-color : #F50057;
    transition       : 0.1s;
  }

  div.contact img {
    height         : 1.4em;
    fill           : #FAFAFA;
    vertical-align : bottom;
  }

  div.contact a {
    text-decoration : none;
    color: inherit;
  }

  div.contact a:focus {
    border  : none;
    outline : none;
  }

  div.footer {
    width            : 100%;
    border-top-color : #EEEEEE;
    border-top-width : thin;
    border-top-style : solid;
  }

  div.content a {
    color           : #F8BBD0;
    text-decoration : none;
    font-family     : Orkney-m;
  }

  div.content img {
    width: 100%;
    margin: 1% 0%;
    border-radius: 5px;
    transition: 0.2s;
  }

  div.content img:hover {
    border-radius: 32px;
    transition: 0.2s;
  }

}

@media
  only screen
  and (max-width : 1400px) {
  div.content {
    padding-right : 5%;
    padding-left  : 5%;
    font-size     : 1.2em;
  }

  div.panel {
    padding : 0.2em 1.5em;
  }

  div.contact li {
    display : block;
  }
}

@media
  only screen
  and (max-device-width : 800px),
  (max-width        : 800px) {
  div.content {
    padding-left : inherit 1%;
    font-size    : 1em;
  }

  div.panel {
    padding : 0.2em 1.5em;
  }

  div.contact img.icon {
    height : 3.5em;
  }

  span.cinfo {
    display : none;
  }

  div.contact li {
    display : inline-block;
  }

  div.contact {
    font-size: 0.8em;
  }

  div.contact img.icon {
    font-size: 1.3em
  }
}
